body,html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat',sans-serif !important;
}

/******************
    Page Headers
******************/
.intro-header {
  text-align: center;
  color: #f8f8f8;
  background-size: cover;
}

#homeHeader {
  background: url(../../css/images/home/headerbg.png) no-repeat center center;
  background-size: cover;
}

#companyHeader {
  background: url(../../css/images/company/headerbg.png) no-repeat center center;
  max-height: 222px;
  background-size: cover;
}

#productHeader {
  background: url(../../css/images/products/productsheader.png) no-repeat center center;
  background-size: cover;
}

#servicesHeader {
  background: url(../../css/images/services/servicesheader.png) no-repeat center center;
  background-size: cover;
}

#products-footer-header {
  text-align: center;
  color: #f8f8f8;
  background: url(../../css/images/products/productsfootimg.png) no-repeat center center;
  background-size: cover;
  margin-top: 50px;
}

/**************************
    GLOBAL BUTTON STYLES
**************************/
#blueButton {
  background-color: #46A9DF;
  border-radius: 0;
  border: 0;
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  color: #FFF;
}

.darkBlueBtn {
  background: #345472;
  color: #FFF;
  padding: 12px !important;
  border-radius: 0!important;
  font-size: 15px !important;
}
.darkBlueBtn:hover{
  opacity: .8;
  color:white!important;
}

/******************
    Navbar Styles
******************/
.navbar-brand {
  float: left !important;
  height: 58px !important;
  padding: 0 !important;
  font-size: 18px !important;
  line-height: 20px !important;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0 !important;
  border: 0 !important;
  background-color: transparent;
  padding-top: 2%;
  padding-bottom: 2%;
}

/******************
    HOME PAGE
******************/
.intro-message {
  position: relative;
  padding-top: 9%;
  padding-bottom: 6%;
  width: 72%;
  margin: 0 auto;
}

.intro-message > h1 {
  color: #000;
  font-size: 2em;
  text-align: left;
}

.intro-message > h3 {
  text-align: left;
  font-size: 18px;
  line-height: 1;
  color: #000;
  font-weight: 700;
}

#LogoRow {
  padding: 30px 100px;
}

/******************
    HOME PAGE
what we do section
******************/
#whatContainer {
  background: #5F6261;
  color: #fff;
  min-height: 50%;
}

#whatContainer p {
  font-weight: 100;
  padding-top: 27px;
  font-family: 'Montserrat',sans-serif;
}

#whatContainer .col-sm-12 {
  padding-bottom: 50px;
}

#whatContainer h1 {
  padding-top: 40px;
}

#whatContainer .space {
  background-color: #46A9DF;
  height: 3px;
  width: 5%;
  margin: 0 auto;
  position: relative;
  top: 0;
}

/**************************
        HOME PAGE
Mission statement section
**************************/
.laptopMission {
  position: relative;
  overflow: hidden;
}

.laptopMission img {
  position: relative;
  left: 20%;
  overflow: hidden;
}

#MsContainer {
  padding-top: 30px;
  padding-bottom: 30px;
}

#MsContainer .space {
  background-color: #46A9DF;
  height: 3px;
  width: 14%;
  margin: 0 0 11px;
  position: relative;
  top: -6px;
}

#MsContainer .col-sm-6 {
  padding-right: 0 !important;
}

.MsText {
  padding-left: 10% !important;
  padding-top: 7% !important;
}

.MsText h1 {
  font-size: 34px;
}

/**************************
        HOME PAGE
    expertise section
**************************/
#expertiseContainer {
  background-color: #F8F9FA;
  padding-top: 35px;
  padding-bottom: 35px;
}

#expertiseContainer h1 {
  font-weight: 700;
}

#expertiseContainer .space {
  background-color: #46A9DF;
  height: 3px;
  width: 5%;
  margin: 0 auto;
  position: relative;
  top: 0;
}

#expertiseLogos {
  margin: 0 auto;
  padding: 30px 0;
}

#expertiseLogos .col-sm-3 {
  text-align: center;
}

/**************************
        HOME PAGE
    Product section
**************************/
#productContainer {
  width: 75%;
  margin: 0 auto;
  padding: 60px 0 75px;
}

#productContainer .space {
  background-color: #46A9DF;
  height: 3px;
  width: 5%;
  margin: 0 auto;
  position: relative;
}

#productContainer h1 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.productCaption {
  padding: 13px 0 13px 18px;
}

.productCaption small {
  font-weight: 700;
  font-size: 18px;
  padding: 5px 5px 5px 20px;
  border-left: solid 2px #5AB151;
}

.productInfo {
  padding: 13px 0 13px 18px;
}

.productBox a {
  margin: 13px 13px 13px 18px;
}

.productBox a {
  border: 1px solid #000;
  background: transparent;
  color: #000;
  border-radius: 0;
}

.productBox a:hover {
  border: 1px solid #000;
  background: #000;
  color: #FFF;
  border-radius: 0;
}

.productInfo p {
  line-height: 22px;
}

/**************************
        HOME PAGE
    Contact section
**************************/
#contactContainer {
  margin-top: -60px;
}

#contactContainer .row {
  background-color: #F8F9FA;
  padding: 0 !important;
  margin: 0 !important;
}

#contactContainer h1 {
  padding-bottom: 35px;
}

.space {
  background-color: #46A9DF;
  height: 3px;
  width: 5%;
  margin: 0 auto;
  position: relative;
  top: -35px;
}

.ContactFooterHeader {
  background-image: url(../../css/images/home/footerimg.png);
  padding: 100px;
  border-image: none !important;
  border-style: none !important;
  border-width: none !important;
  background-repeat: no-repeat;
}

.contactForm {
  width: 32% !important;
  margin: 0 auto !important;
  padding-bottom: 40px !important;
}

.contactForm button {
  border: 1px solid #000 !important;
  background: transparent !important;
  color: #000 !important;
  border-radius: 0 !important;
}

.contactForm button:hover {
  border: 1px solid #000 !important;
  background: #000 !important;
  color: #FFF !important;
  border-radius: 0 !important;
}

.contactForm input {
  border: 0 !important;
  margin-bottom: 12px !important;
  border-radius: 0 !important;
}

.contactForm textarea {
  border: 0 !important;
  margin-bottom: 12px !important;
  resize: none;
  height: 150px !important;
  border-radius: 0 !important;
}

footer a {
  color: #FFF;
  text-decoration: none;
}

/************************************************
                COMPANY PAGE
************************************************/
.company-intro-message {
  position: relative;
  padding-top: 3%;
  padding-bottom: 6%;
  width: 87%;
  margin: 0 auto;
}

.company-intro-message > h4 {
  color: #000;
  text-align: left;
  padding-left: 20px;
  line-height: 0;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.company-intro-message > h2 {
  text-align: left;
  padding: 5px 5px 5px 20px;
  border-left: solid 3px #46A9DF;
  font-weight: 700;
  font-size: 44px;
}

#containerStatements {
  padding: 60px 0;
  width: 86%;
}

#containerStatements .blueUnderline {
  background-color: #46A9DF;
  height: 2px;
  width: 10%;
  margin: 0;
  position: relative;
  top: 0;
}

.CompanyStatements {
  font-size: 16px;
  line-height: 2;
  padding-top: 35px;
}

#IndustriesContainer {
  background: #F2F2F2;
  padding: 40px 0;
}

#IndustriesContainer p {
  width: 87%;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 25px;
  font-size: 18px;
}

#IndustriesContainer img {
  margin: 0 auto !important;
  width: 75% !important;
}

#IndustriesContainer .col-lg-3 {
  text-align: center;
}

#QuoteRow {
  width: 70%;
  margin: 0 auto !important;
  padding: 100px 0;
}

.QuoteAuthor {
  text-align: center;
}

.quoteButton {
  text-align: center;
  padding-top: 10%;
}

.quoteButton a {
  background: #345472;
  color: #FFF;
  padding: 20px;
  border-radius: 0;
}
.quoteButton a:hover {
  opacity: .8;
  color:white!important;
}

/************************************************
                PRODUCT PAGE
************************************************/
.products-intro-message {
  position: relative;
  padding-top: 3%;
  padding-bottom: 6%;
  width: 87%;
  margin: 0 auto;
}

.products-intro-message h4 {
  font-size: 69px;
  text-align: left;
  line-height: 73px;
  font-weight: 700;
}

.products-intro-message .quote {
  text-align: left;
  padding: 0;
  margin: 0;
  line-height: 73px;
  font-weight: 400;
}

.quote p {
  line-height: 2;
  width: 50%;
  font-size: 12px;
  font-style: italic;
}

.productBoxShadow {
  box-shadow: 4px 4px 20px #DEDCDC;
}

.productImg img {
  width: 50%;
  text-align: ;
  margin: 0 auto;
}

.productFeature {
  text-align: center;
  padding: 25px 0 0;
  color: #46A9DF;
}

#productContainer small {
  font-weight: 700;
  font-size: 18px;
  padding: 5px 5px 5px 20px;
}

.productList {
  padding: 13px 0 0;
  font-size: 10px;
}

.productList ul {
  list-style: none;
  line-height: 21px;
}

.learnMore {
  color: #46A9DF;
  padding-left: 40px;
  padding-bottom: 20px;
}

#runcardContainer .nopadmarg {
  padding: 0;
  margin: 0;
}

#runcardContainer,.RunProductDesc {
  padding-left: 27px;
  font-size: 11px;
  line-height: 27px;
}

.getStarted {
  background: #345472;
  color: #fff;
  padding: 20px;
  width: 56%;
  font-size: 22px;
  border: 0;
  margin-top: 50px;
}

.customPosition {
  overflow: hidden;
}

.customPosition img {
  position: relative;
  left: 6%;
}

#datacardContainer .DataProductDesc {
  padding-right: 100px;
  padding-top:5px;
  font-size: 11px;
  line-height: 27px;
  text-align: right;
}

.products-foot-message {
  position: relative;
  padding-top: 3%;
  padding-bottom: 6%;
  width: 87%;
  margin: 0 auto;
}

.products-foot-message h4 {
  font-size: 23px;
  text-align: center;
  line-height: 73px;
  font-weight: 700;
}

.products-foot-button {
  padding-top: 27px;
}

.products-foot-button a {
  padding: 10px 20px;
  background: transparent;
  border: 1px solid #000;
  font-weight: 700;
  color:#000 !important;
}
.products-foot-button a:hover {
  padding: 10px 20px !important;
  background: #FFF!important;
  border: none !important;
  font-weight: 700;
}

.darkBlueBtn {
  background: #345472;
  color: #FFF;
  padding: 20px;
  border-radius: 0;
}

/************************************************
                SERVICES PAGE
************************************************/
#Services {
  width: 75%;
  margin: 0 auto;
  padding: 50px 0 105px;
}

#Services .col-lg-12 {
  padding-bottom: 70px;
}

#Services .title {
  font-size: 30px;
}

.trainingLine {
  background-color: #46A9DF;
  height: 3px;
  width: 43%;
  margin: 0;
  position: relative;
  top: 5px;
}

.implementationLine {
  background-color: #46A9DF;
  height: 3px;
  width: 24%;
  margin: 0;
  position: relative;
  top: 5px;
}

.services-intro-message {
  position: relative;
  padding-top: 3%;
  padding-bottom: 6%;
  width: 87%;
  margin: 0 auto;
}

.services-intro-message h4 {
  font-size: 69px;
  text-align: left;
  line-height: 73px;
  font-weight: 700;
}

.quote {
  text-align: left;
  font-size: 10px;
  font-style: italic;
}

.deploymentProcess em {
  font-size: 10px;
}

.intergrationProcess em {
  font-size: 10px;
}

.deploymentProcess,.intergrationProcess {
  padding: 30px 10px 10px;
  box-shadow: 4px 4px 20px #DEDCDC;
  min-height: 200px !important;
}

.deploymentProcess,.col-lg-6 {
  padding-right: 30px !important;
}

.intergrationProcess,.col-lg-6 {
  padding-left: 30px !important;
}

.TrainingRow {
  box-shadow: 4px 4px 20px #DEDCDC;
  padding: 30px;
  font-size: 12px;
}

.TrainingRow,.col-lg-6 {
  padding-bottom: 20px;
}

#ServicesContact {
  background-color: #345472;
}

.ServicesContactContainer h2 {
  color: #FFF;
}

.ServicesContactContainer {
  background-color: #345472;
  width: 75%;
  margin: auto;
  padding: 75px 0;
}

.ServicesContactContainer p {
  color: #FFF;
  font-size: 10px;
  line-height: 2;
}

#ContactQuote button {
  border: 1px solid #000 !important;
  background: transparent !important;
  color: #000 !important;
  border-radius: 0 !important;
}

#ContactQuote button:hover {
  border: 1px solid #000 !important;
  background: #000 !important;
  color: #FFF !important;
  border-radius: 0 !important;
}

#ContactQuote button {
  border: 1px solid #FFF !important;
  background: #FFF !important;
  color: #000 !important;
  border-radius: 0 !important;
}

#ContactQuote input {
  border: 0 !important;
  margin-bottom: 12px !important;
  border-radius: 0 !important;
}

#ContactQuote textarea {
  border: 0 !important;
  margin-bottom: 12px !important;
  resize: none;
  height: 150px !important;
  border-radius: 0 !important;
}

.ProductLogosFooter img {
  display: inline;
  width: 40%;
}

/************************************************
                CUSTOMERS PAGE 
************************************************/
#customersContainer {
  width: 90%;
  padding-bottom: 10%;
}

#customersContainer img {
  width: 75%;
  margin: 0 auto;
  padding-top: 40px;
  opacity: .7;
}

#customersContainer img:hover {
  width: 75%;
  margin: 0 auto;
  padding-top: 40px;
  opacity: 1;
}

#customersContainer h2 {
  padding: 40px 0;
}

#customersContainer .col-sm-4 {
  min-height: 200px;
}

#customersContainer .col-sm-4:hover {
}

#customersContainer .space {
  background-color: #46A9DF;
  height: 3px;
  width: 5%;
  margin: 0 auto;
  position: relative;
  top: -46px;
}

.borderRight {
  border-right: 1px solid #EFEFEF;
}

.borderBottom {
  border-bottom: 1px solid #EFEFEF;
}

/************************************************
                FOOTER STYLES
************************************************/
footer {
  width: 100%;
  background-color: #46A9DF;
  min-height: 200px;
  color: #FFF;
}

footer .container {
  padding-top: 50px;
}

footer ul {
  padding: 0;
  margin: 0;
  line-height: 5;
}

footer li {
  display: inline;
  padding-right: 25px;
}

footer .copyright {
  font-size: 12px;
}

.addressFooter {
  font-size: 10px;
  padding-top: 25px;
  text-align: right;
}

.contactInfo {
  font-size: 10px;
  padding-top: 9px;
  text-align: right;
}

.fa-lg {
  font-size: 3.333333em !important;
  line-height: 0 !important;
  vertical-align: -15%;
}

@media only screen and (max-width : 480px) {
  /*HOME PAGE */
  .intro-message {
    position: relative;
    padding-top: 0;
    padding-bottom: 6%;
    width: 100%;
    margin: 0 auto;
  }

  #expertiseLogos .col-sm-3 {
    padding-bottom: 30px;
  }

  .productImg img {
    width: 80%;
    text-align: ;
    margin: 0 auto;
  }

  .contactForm {
    width: 80% !important;
    margin: 0 auto !important;
    padding-bottom: 40px !important;
  }

  .productBox {
    padding-bottom: 12%;
  }

  /*footer*/
  footer li {
    display: inline !important;
    padding-right: 15px;
  }

  footer ul {
    padding: 0;
    margin: 0;
    line-height: 2;
    font-size: 11px;
    text-align: center;
  }

  .addressFooter {
    font-size: 10px;
    padding-top: 25px;
    text-align: center;
  }

  .contactInfo {
    font-size: 10px;
    padding-top: 16px;
    text-align: center;
  }

  .fa-lg {
    font-size: 2.333333em !important;
    line-height: 0 !important;
    vertical-align: -9%;
  }

  footer .container {
    padding-top: 26px;
  }

  footer .copyright {
    font-size: 14px;
    text-align: center;
    margin-top: 23px;
  }

  /*COMPANY PAGE*/
  .company-intro-message > h2 {
    text-align: left;
    padding: 5px 5px 5px 20px;
    border-left: solid 3px #46A9DF;
    font-weight: 700;
    font-size: 38px;
  }

  #QuoteRow {
    width: 70%;
    margin: 0 auto !important;
    padding: 38px 0;
  }

  #IndustriesContainer p {
    width: 87%;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 25px;
    font-size: 14px;
    font-weight: 100;
  }

  #IndustriesContainer .col-lg-3 {
    text-align: center;
    padding-bottom: 30px;
  }

  /*PRODUCT PAGE*/
  .products-intro-message {
    width: 100%;
  }

  .products-intro-message h4 {
    font-size: 45px;
    text-align: center;
    line-height: 48px;
    font-weight: 700;
  }

  .quote p {
    line-height: 2;
    width: 100%;
    font-size: 10px;
    font-style: italic;
  }

  .quote p {
    width: 100%;
    text-align: center;
  }

  #productContainer {
    width: 90%;
    padding: 0;
  }

  .productBoxShadow {
    box-shadow: 1px 5px 49px #DEDCDC;
    margin: 50px 0;
  }

  #runcardContainer {
    padding: 0;
  }

  .darkBlueBtn {
    background: #345472;
    color: #FFF;
    padding: 12px !important;
    border-radius: 0;
    font-size: 15px !important;
  }

  #datacardContainer .DataProductDesc {
    padding-right: 0;
    font-size: 11px;
    line-height: 14px;
    text-align: left;
  }

  #runcardContainer,.RunProductDesc {
    padding: 0 7px 10px;
    font-size: 11px;
    line-height: 14px;
  }

  .RunProductDesc button {
    margin-top: 42px;
  }

  .DataProductDesc button {
    margin-top: 42px;
  }

  #datacardContainer {
    padding-bottom: 50px;
  }

  .products-foot-message h4 {
    font-size: 19px;
    text-align: center;
    line-height: 41px;
    font-weight: 700;
  }

  /*SERVICES PAGE*/
  .services-intro-message h4 {
    font-size: 32px;
    text-align: left;
    line-height: 36px;
    font-weight: 700;
  }

  #Services .title {
    font-size: 19px;
  }

  #blueButton {
    background-color: #46A9DF;
    padding: 9px;
    font-size: 10px;
  }

  #Services {
    padding: 50px 0 20px;
  }

  .ServicesContactContainer {
    width: 100%;
    padding: 25px 0;
  }

  .ProductLogosFooter img {
    width: 49%;
  }

  /*CUSTOMERS PAGE*/
  .borderRight {
    border-right: none;
  }

  .borderBottom {
    border-bottom: none;
  }

  .customersContainer,.col-sm-4 {
    border-bottom: 1px solid #EFEFEF;
  }
}

@media only screen and (max-width : 768px) {
  /*homepage*/
  .MsText h1 {
    font-size: 32px;
  }

  .contactForm {
    width: 60% !important;
  }

  /*company page*/
  #IndustriesContainer img {
    width: 32% !important;
  }

  /*products page*/
  #productContainer {
    width: 90%;
  }

  .productBoxShadow {
    min-height: 429px;
  }

  .productList ul {
    line-height: 20px;
    padding-left: 19px;
  }

  #datacardContainer .DataProductDesc {
    padding-right: 0;
  }

  .products-foot-message h4 {
    font-size: 26px;
  }

  /*services page*/
  .services-intro-message h4 {
    font-size: 34px;
    line-height: 32px;
  }

  .ServicesContactContainer {
    width: 100%;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  #Services {
    padding: 50px 0;
  }

  /*footer*/
  footer ul {
    margin: 0;
    line-height: 3;
    text-align: center !important;
  }

  footer li {
    display: block;
  }

  footer .copyright {
    text-align: center;
  }

  footer .container {
    padding-top: 16px;
  }
}